/* ============ Footer ============ */

.footer {
  width: 100%;
  overflow: hidden;
  background: #000000;
}

.footer__content {
  position: relative;
  margin: 45px auto 35px;
  max-width: 100%;
  margin-inline: auto;
}

.footer__column {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px 22px;
  margin-bottom: 16px;
  transition:
    border-color 0.4s ease,
    color 0.4s ease,
    transform 0.25s ease;
}

.footer__brand-col {
  color: white;
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 10px 22px;
  margin-bottom: 16px;
  transition:
    border-color 0.4s ease,
    color 0.4s ease,
    transform 0.25s ease;
}

.footer__brand-icon {
  width: 84px;
  height: auto;
  margin-right: 12px;
}

.footer__brand-header {
  display: flex;
  flex-direction: row;
}

.footer__brand-name {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.6em;
  display: flex;
  margin: 0;
  color: #ffffff;
  align-items: center;
}

.footer__top {
  display: grid;
  grid-auto-flow: column;
  gap: 18px;
}

.footer__brand-text {
  font-family: Arial, sans-serif;
  color: #cfcfcf;
  line-height: 1.7;
}

.footer__links {
  display: flex;
  gap: 18px;
  flex-direction: column;
  margin-top: 12px;
  color: #cfcfcf;
  list-style: none;
  padding: 0;
  margin: 12px 0 0 0;
}

.footer__column-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5em;
  color: #ff0000;
  margin: 0 0 8px 0;
}

.footer__socials {
  display: flex;
  gap: 18px;
}

.footer__social-icon {
  width: 50px;
  height: auto;
  display: block;
  transition: transform 0.25s ease;
}

.footer__top {
  display: flex;
  margin: 35px;
  padding: 15px;
  gap: 50px;
  border: 1px solid #2a2a2a;
}

.footer__hours {
  display: flex;
  flex-direction: column;
  margin: 35px;
  padding: 15px 15px 15px 37px;
  gap: 0px;
  border: 1px solid #2a2a2a;
}

.footer__quote {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 15px;
  gap: 0px;
  background: #181818;
}

.footer__hours-item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 0px 0px 0px 12px;
  border-left: 3px solid #2a2a2a;
}

.footer__hours-item--active {
  border-left: 3px solid #ff0000;
}

.footer__hours-value {
  font-family: Arial, sans-serif;
  color: #cfcfcf;
  line-height: 1.7;
  margin: 0;
}

.footer__hours-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5em;
  display: flex;
  color: #ffffff;
  padding: 0px 0px 5px 0px;
  margin: 0px 0 0px 0;
}

.footer__hours-label {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5em;
  color: #ff0000;
  margin: 0 0 0px 0;
}

.footer__hours-grid {
  display: flex;
  gap: 13%;
}

.footer__quote-text {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.5em;
  color: #9f9fa9;
  margin: 0 0 0px 0;
  text-align: center;
}

.footer__quote-author {
  font-family: Arial, sans-serif;
  color: #cfcfcf;
  line-height: 1.7;
  margin: 0;
  text-align: center;
}